<?xml version="1.0" encoding="UTF-8"?><!--xxMapper.xml-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="cn.tri.shop.mapper.UserMapper">
 	<insert id="addUser" parameterType="cn.tri.shop.pojo.User">
 		insert into user(uname,upwd,email,sex,realname,phonenum,activenum,activestatus) values
 		(#{uname},#{upwd},#{email},#{sex},#{realname},#{phonenum},#{activenum},#{activestatus})
 	</insert>
 	<select id="loginUser" parameterType="cn.tri.shop.pojo.User" resultType="cn.tri.shop.pojo.User">
 		select uname,activestatus,email from user where uname=#{uname} and upwd=#{upwd}
 	</select>
 	<update id="activeUser" parameterType="cn.tri.shop.pojo.User">
 		update user set activestatus=1 where email=#{email} and activenum=#{activenum}	
 	</update>
 	<select id="checkActive" parameterType="cn.tri.shop.pojo.User" resultType="int">
 		select count(*) from user where email=#{email} and activestatus=1
 	</select>
</mapper>
